.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.video-card {
    width: 320px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.video-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.video-info {
    padding: 10px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}